.env
.token_drive.pickle
client_secret_drive.json

# Виртуальные окружения
.venv/
venv/
venv1/

# PyCharm
.idea/

# Видео
downloads/*.mp4
.env
client_secret_drive.json
token_drive.pickle
.venv/
venv/
__pycache__/
downloads/*.mp4
*.pyc
